body {
	background-image: url(../images/bg.png);
}

a.nodecoration{
    text-decoration: none;
}

/* Container */

div.container {
	width: 980px;
}

/* Vertical menu */

div.vertical-menu {
	width: 200px;
}

div.vertical-menu button {
	width: 160px !important;
	height: 160px;
	border: solid 1px #ccc;
	background-color: #f8f8f8;
	color: #000;
}

div.vertical-menu button:hover {
	background-color: #eee;
	border: solid 1px #ccc;	
	color: #000;
}

div.vertical-menu button:focus {
	background-color: #e1e1e1;
	border: solid 1px #ccc;	
	color: #000;
}

/* Views */

div.views {
	background-color: #fff;
	width: 740px;
	min-height: 500px;	
	border: solid 1px #ccc;
	border-radius: 3px;
	padding: 30px;
}

/* Scan */

div.scan div.code {
	width: 400px;
	margin-top: 20px;
}

div.scan div.buttons {
	margin-top: 20px;
}

/* Send invite */

div.title-spacer {
	height: 20px;
}

.field-label {
	padding-left: 20px !important;
}

table.invite-table td {
	border: none !important;
}

table.invite-table td input {
	width: 300px;
}

table.invite-table td {
    vertical-align: middle !important;
}

/* Fields */

.fieldstable td {
    vertical-align: middle !important;
}

.test {
	border: solid 1px blue;
	background-image: url(../images/MoneyGram_send.jpg);
	width: 580px;
	height: 842px;
	position: relative;
}

.data-preview {
	position: absolute; 
	color: red; 
	font-size: 14px; 
}


