<a class="btn btn-primary btn-sm" ng-click="newField()">Add New Field</a>
<br>
<h3>Fields</h3>
<table class="table fieldstable">
  <tr ng-repeat="field in fields">
    <td width="500" class="field-label">
    	<input type="text" ng-model="field.label" ng-change="updateField()" value="{{field.label}}" class="form-control"/>
    </td>    
    <td>
      <a class="btn btn-primary btn-sm" ng-click="editField(field._id.$oid)">Edit</a>
      <a class="btn btn-danger btn-sm"  ng-click="deleteField(field)">Delete</a>
    </td>
  </tr>
</table>



